body {
  color: #999;
  background-color: #111111;
}

.card-header{
	background-image: linear-gradient(to bottom, #212121 0%, #262626 100%);
}

.p-2,
li.list-group-item.px-2.py-1,
.p-0,
.reader-controls.col.row.no-gutters.flex-column.flex-nowrap {
	background-color: #212121;
}

#reader-controls-collapser{
	background-color: #111111;
}

.bg-dark{
	background-image: linear-gradient(to bottom, #111111 0%, #111111 100%)
}