body {
  color: #999;
  background-color: #111111;
}

.card-header{
	background-image: linear-gradient(to bottom, #212121 0%, #262626 100%);
}

.p-2,
li.list-group-item.px-2.py-1 {
	background-color: #212121;
}

.bg-dark{
	background-image: linear-gradient(to bottom, #111111 0%, #111111 100%)
}