/* This will automatically update any theme changes I make */
@import url("https://rawgit.com/BakaTekku/Discord_Theme/master/theme.css");
@import url("https://rawgit.com/xtenkay/css/master/tenkayChanges.css");

.theme-dark .chat-3bRxxu, .theme-dark .chat-3bRxxu form, .theme-dark .content-yTz4x3,
.theme-dark .messagesWrapper-3lZDfY,
.container-PNkimc,
.theme-dark .title-3qD0b-,
.theme-dark .container-2Thooq, .theme-light .container-2Thooq,
.container-1UB9sr,
.scroller-2FKFPG,
.typing-2GQL18,
.emojiPicker-3m1S-j .header-1nkwgG,
.emojiPicker-3m1S-j .header-1nkwgG .search-bar,
.emojiPicker-3m1S-j .header-1nkwgG,
.emojiPicker-3m1S-j .category-2U57w6,
.emojiPicker-3m1S-j .categories-1feg4n,
.theme-dark .guildsWrapper-5TJh6A,
.theme-dark .search .search-bar,
.theme-dark .searchAnswer-3Dz2-q, .theme-dark .searchFilter-2ESiM3,
.searchBar-6Kv8R2,
.theme-dark .headerBar-UHpsPw,
.theme-dark .body-SKIE6r,
.theme-dark .header-1RC2Wb,
.news-2GDtLJ,
.theme-dark .topSectionNormal-2-vo2m{
	background-color: #111111 !important
}

.emojiPicker-3m1S-j .categories-1feg4n{
	margin: 0;
	padding:0 12px;
}

.theme-dark .inner-zqa7da,
.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6,
.theme-dark .headerNormal-T_seeN{
	background-color: #161616 !important;	
}

.large-3ChYtB{
	width: 72px !important;
	height: 72px !important;
	border-radius: 5%;
	margin-:10px;
}

.contentCozy-3XX413{
	margin-left: 7.0em !important;
}

.containerCozyBounded-1rKFAn.containerCozy-jafyvG.container-1YxwTf{
	min-height:100px;
}

.theme-dark .dividerEnabled-2TTlcf{
	display: none;
}

.emoji.jumboable{
	height:60px;
	width:60px;
}

.inner-zqa7da.flex-1O1GKY.innerNoAutocomplete-1WpcVO{
	margin-left: 0px;
}

.inner-zqa7da.flex-1O1GKY.innerNoAutocomplete-1WpcVO{
	opacity:10%;
}

.status-3fQvEa,
.status-oxiHuE{
	height:10px !important;
	width:10px!important;
	border-radius:100%;
}

.embedContentInner-FBnk7v.markup-2BOw-j,
.embedPill-1Zntps{
	margin: 0px;
}

.emojiPicker-3m1S-j .scroller-3vODG7 .emojiItem-109bjA.selected-39BZ4S,
.theme-dark .menu-Sp6bN1{
	background-color: #161616;
}

.contentSelectedText-3wUhMi, .contentSelectedVoice-1WDIBM,
.contentHoveredText-2D9B-x,
.channel-2QD9_O.selected-1HYmZZ a,
.theme-dark .member-3W1lQa:hover .content-OzHfo4,
.autocomplete-1vrmpx,
.autocomplete-i9yVHs{
	background-color: #070707;
}

.item-1GzJrl:hover{
	background-color: #070707;
}

.theme-dark .messagesWrapper-3lZDfY .scroller-wrap ::-webkit-scrollbar-thumb{
	background-color: #181818;
    border-color: #161616;
}

.theme-dark .messagesWrapper-3lZDfY .scroller-wrap ::-webkit-scrollbar-track-piece{
	background-color: #161616;
    border-color: #212121;
}

.theme-dark .markup-2BOw-j{
	color: #eeeeee;
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/v0SdcGFAl2aezM9Vq_aFTQ.ttf) format('truetype');
}